# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.vscode/
*.code-workspace
*.odt
*.log
Workflow
test_dict.py
my_tests/conf.json
conf.json
.env

.venv/

build/
dist/
*.spec

*.cbz
*.cbr
*.odt
